# Segmenting and Clustering neighborhoods in Toronto

### Part 1 : Scrap the provided wikipedia page and build a pandas dataframe
#### Please scroll down for part 2

In [1]:
import pandas as pd

In [2]:
# Reading data from wikipedia page using pandas read_html method
# and getting the required table through the first obeject
tables = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
print(tables[0])

    Postcode           Borough  \
0        M1A      Not assigned
1        M2A      Not assigned
2        M3A        North York
3        M4A        North York
4        M5A  Downtown Toronto
5        M6A        North York
6        M6A        North York
7        M7A      Queen's Park
8        M8A      Not assigned
9        M9A  Downtown Toronto
10       M1B       Scarborough
11       M1B       Scarborough
12       M2B      Not assigned
13       M3B        North York
14       M4B         East York
15       M4B         East York
16       M5B  Downtown Toronto
17       M5B  Downtown Toronto
18       M6B        North York
19       M7B      Not assigned
20       M8B      Not assigned
21       M9B         Etobicoke
22       M9B         Etobicoke
23       M9B         Etobicoke
24       M9B         Etobicoke
25       M9B         Etobicoke
26       M1C       Scarborough
27       M1C       Scarborough
28       M1C       Scarborough
29       M2C      Not assigned
..       ...               ...
257      M9X      Not assigned
258      M1Y      Not assigned
259      M2Y      Not assigned
260      M3Y      Not assigned
261      M4Y  Downtown Toronto
262      M5Y      Not assigned
263      M6Y      Not assigned
264      M7Y      East Toronto
265      M8Y         Etobicoke
266      M8Y         Etobicoke
267      M8Y         Etobicoke
268      M8Y         Etobicoke
269      M8Y         Etobicoke
270      M8Y         Etobicoke
271      M8Y         Etobicoke
272      M8Y         Etobicoke
273      M9Y      Not assigned
274      M1Z      Not assigned
275      M2Z      Not assigned
276      M3Z      Not assigned
277      M4Z      Not assigned
278      M5Z      Not assigned
279      M6Z      Not assigned
280      M7Z      Not assigned
281      M8Z         Etobicoke
282      M8Z         Etobicoke
283      M8Z         Etobicoke
284      M8Z         Etobicoke
285      M8Z         Etobicoke
286      M9Z      Not assigned

                                         Neighbourhood
0                                         Not assigned
1                                         Not assigned
2                                            Parkwoods
3                                     Victoria Village
4                                         Harbourfront
5                                     Lawrence Heights
6                                       Lawrence Manor
7                                         Not assigned
8                                         Not assigned
9                                         Queen's Park
10                                               Rouge
11                                             Malvern
12                                        Not assigned
13                                     Don Mills North
14                                    Woodbine Gardens
15                                       Parkview Hill
16                                             Ryerson
17                                     Garden District
18                                           Glencairn
19                                        Not assigned
20                                        Not assigned
21                                          Cloverdale
22                                           Islington
23                                        Martin Grove
24                                    Princess Gardens
25                                     West Deane Park
26                                      Highland Creek
27                                          Rouge Hill
28                                          Port Union
29                                        Not assigned
..                                                 ...
257                                       Not assigned
258                                       Not assigned
259                                       Not assigned
260                                       Not assigned
261                               Church and Wellesley
262                                       Not assigned
263                                       Not assigned
264  Business Reply Mail Processing Centre 969 Eastern
265                                         Humber Bay
266                                   King's Mill Park
267                           Kingsway Park South East
268                                          Mimico NE
269                                     Old Mill South
270                                 The Queensway East
271                              Royal York South East
272                                           Sunnylea
273                                       Not assigned
274                                       Not assigned
275                                       Not assigned
276                                       Not assigned
277                                       Not assigned
278                                       Not assigned
279                                       Not assigned
280                                       Not assigned
281                           Kingsway Park South West
282                                          Mimico NW
283                                 The Queensway West
284                              Royal York South West
285                                     South of Bloor
286                                       Not assigned

[287 rows x 3 columns]

In [3]:
# Converting into a dataframe
toronto_df = pd.DataFrame(data=tables[0])
toronto_df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [4]:
# Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned
toronto_df.drop(toronto_df.index[toronto_df['Borough']=='Not assigned'], axis=0, inplace=True)
toronto_df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

#### More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma.

In [5]:
toronto_df=toronto_df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(lambda x: ', '.join(x.astype(str))).reset_index()
toronto_df.head(10)

  Postcode      Borough                                    Neighbourhood
0      M1B  Scarborough                                   Rouge, Malvern
1      M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                      Birch Cliff, Cliffside West

#### If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [6]:
toronto_df.loc[toronto_df['Neighbourhood']=='Not assigned', 'Neighbourhood'] = toronto_df['Borough']

In [7]:
# checking the above for Queens park
toronto_df[toronto_df['Borough']=="Queen's Park"]

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Queen's Park

#### Use the .shape method to print the number of rows of your dataframe

In [8]:
toronto_df.shape

(103, 3)

### End of part 1

### Part 2 : We now need to get the latitude and longitude of each neighbourhood. Use the Geocoder package or the csv file to create a dataframe containing the latitude and longitude.

In [9]:
# we shall use the csv file as the geocoder package is unreliable
# creating a new lat,long dataframe using the csv file
url = "https://cocl.us/Geospatial_data"
latlong_df = pd.read_csv(url)

latlong_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### Great! We have the latitude and longitude of the Postal Codes found above. Before merging/joining the two dataframes we shall check whether the two have same number of rows i.e. unique postal codes.

In [10]:
latlong_df.shape

(103, 3)

#### So both the toronto_df and latlong_df have the same number of rows. 
#### One thing to note before merging the two dataframes is that 'Postcode' column in toronto_df dataframe is the same as 'Postal Code' column in latlong_df database. So we shall rename column in latlong_df as 'Postcode' to bring uniformity

In [11]:
# rename postal code column in latlong_df
latlong_df.rename(columns={'Postal Code':'Postcode'}, inplace=True)
latlong_df.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

#### Finally we shall merge the two dataframes based on their postcode

In [12]:
toronto_df_new = pd.merge(toronto_df, latlong_df, on='Postcode')
toronto_df_new.head(15)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale, Wexford",43.750072,-79.295849
12,M1S,Scarborough,Agincourt,43.794200,-79.262029
13,M1T,Scarborough,"Clarks Corners, Sullivan, Tam O'Shanter",43.781638,-79.304302
14,M1V,Scarborough,"Agincourt North, L'Amoreaux East, Milliken, St...",43.815252,-79.284577

#### Save the file as a csv to be used in part 3

In [13]:
toronto_df_new.to_csv(r'toronto_df_new.csv')

### End of part 2